In [1]:
import pandas as pd
import numpy as np
from create_sCASP_files import *

In [2]:
scasp_path = './s(CASP)_MC3G/'

In [3]:
df_org = pd.read_csv('./Data/train_fold_1.csv')

df_test = pd.read_csv('./Data/test_fold_1.csv')

### Select the features that contribute to the prediction

In [4]:
Feature_Columns = ['Checking_account_status','Credit_history','Property','Duration_months','Credit_amount','Present_employment_since','Job']

In [5]:
df_org_1 = df_org[Feature_Columns].copy()
df_org_1

,Checking_account_status,Credit_history,Property,Duration_months,Credit_amount,Present_employment_since,Job
0,less_than0,critical_account,real_estate,6,1169,greater_than7,skilled_employee/official
1,no_checking_account,critical_account,real_estate,12,2096,4equalsless_than_and_less_than7,unskilled-resident
2,less_than0,existing_dues_cleared_for_now,building society/savings agreement/life insurance,42,7882,4equalsless_than_and_less_than7,skilled_employee/official
3,less_than0,delay_in_paying_off,unknown/no_property,24,4870,1equalsless_than_and_less_than4,skilled_employee/official
4,no_checking_account,existing_dues_cleared_for_now,unknown/no_property,36,9055,1equalsless_than_and_less_than4,unskilled-resident
...,...,...,...,...,...,...,...
795,no_checking_account,critical_account,building society/savings agreement/life insurance,12,3565,less_than1,unskilled-resident
796,less_than0,existing_dues_cleared_for_now,car or other,18,1936,4equalsless_than_and_less_than7,unskilled-resident
797,less_than0,existing_dues_cleared_for_now,building society/savings agreement/life insurance,30,3857,1equalsless_than_and_less_than4,management/self-employed/highly_qualified/officer
798,no_checking_account,existing_dues_cleared_for_now,car or other,12,804,greater_than7,skilled_employee/official
799,less_than0,existing_dues_cleared_for_now,unknown/no_property,45,1845,1equalsless_than_and_less_than4,skilled_employee/official

In [6]:
# Example usage:
df_org_1 = df_org[Feature_Columns].copy()

info_dict = build_feature_info(df_org_1, Feature_Columns)
print(info_dict)

{'Checking_account_status': ['less_than0', 'no_checking_account', '0equalsless_than_and_less_than200', 'greater_than200'], 'Credit_history': ['critical_account', 'existing_dues_cleared_for_now', 'delay_in_paying_off', 'none_taken/all_dues_cleared', 'all_dues_atbank_cleared'], 'Property': ['real_estate', 'building society/savings agreement/life insurance', 'unknown/no_property', 'car or other'], 'Duration_months': {'range': (4, 72), 'distinct_values': [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30, 33, 36, 39, 40, 42, 45, 47, 48, 54, 60, 72]}, 'Credit_amount': {'range': (250, 18424), 'distinct_values': [250, 338, 339, 343, 362, 368, 385, 409, 426, 428, 433, 454, 458, 484, 518, 522, 609, 625, 626, 629, 639, 654, 660, 662, 666, 672, 674, 682, 683, 684, 685, 691, 700, 707, 708, 717, 719, 727, 731, 741, 750, 753, 754, 759, 760, 766, 776, 783, 790, 795, 797, 804, 806, 841, 866, 874, 882, 884, 886, 888, 894, 900, 902, 907, 909, 915, 926, 929, 930, 931, 932, 936, 937, 947, 950, 958, 960, 975, 976, 983, 996, 999, 1007, 1024, 1028, 1037, 1038, 1042, 1047, 1048, 1049, 1050, 1053, 1055, 1056, 1068, 1076, 1082, 1092, 1101, 1103, 1107, 1113, 1123, 1126, 1131, 1136, 1154, 1155, 1163, 1168, 1169, 1175, 1185, 1188, 1190, 1193, 1198, 1199, 1200, 1203, 1204, 1206, 1207, 1216, 1217, 1221, 1224, 1231, 1236, 1237, 1238, 1239, 1240, 1244, 1245, 1246, 1255, 1258, 1262, 1264, 1271, 1274, 1275, 1282, 1285, 1287, 1288, 1289, 1291, 1295, 1297, 1299, 1300, 1301, 1308, 1311, 1313, 1318, 1330, 1331, 1337, 1344, 1345, 1347, 1352, 1355, 1360, 1361, 1364, 1366, 1371, 1374, 1376, 1377, 1381, 1382, 1386, 1388, 1391, 1393, 1403, 1409, 1410, 1412, 1413, 1414, 1418, 1422, 1424, 1433, 1437, 1442, 1449, 1453, 1455, 1459, 1469, 1473, 1474, 1478, 1480, 1484, 1493, 1494, 1495, 1498, 1501, 1503, 1505, 1514, 1516, 1520, 1526, 1530, 1533, 1534, 1537, 1538, 1544, 1546, 1549, 1553, 1554, 1559, 1567, 1568, 1572, 1577, 1585, 1591, 1592, 1595, 1597, 1602, 1620, 1647, 1655, 1659, 1670, 1715, 1721, 1740, 1743, 1747, 1755, 1766, 1768, 1778, 1797, 1800, 1804, 1808, 1819, 1820, 1823, 1829, 1835, 1837, 1842, 1845, 1851, 1858, 1860, 1864, 1867, 1872, 1880, 1881, 1882, 1884, 1887, 1893, 1898, 1901, 1905, 1908, 1913, 1919, 1922, 1924, 1925, 1927, 1934, 1935, 1936, 1940, 1941, 1943, 1950, 1953, 1957, 1961, 1963, 1965, 1977, 1979, 1980, 1984, 1987, 1995, 2002, 2022, 2028, 2039, 2051, 2058, 2063, 2064, 2069, 2073, 2080, 2096, 2100, 2101, 2118, 2121, 2122, 2124, 2134, 2136, 2141, 2142, 2145, 2149, 2169, 2171, 2181, 2186, 2197, 2210, 2212, 2214, 2221, 2223, 2225, 2235, 2238, 2241, 2246, 2247, 2249, 2251, 2255, 2273, 2279, 2284, 2292, 2299, 2301, 2302, 2303, 2319, 2323, 2325, 2327, 2329, 2331, 2333, 2348, 2359, 2360, 2375, 2384, 2389, 2397, 2406, 2415, 2424, 2442, 2445, 2462, 2463, 2473, 2476, 2483, 2503, 2507, 2511, 2515, 2520, 2522, 2528, 2538, 2569, 2570, 2578, 2579, 2580, 2603, 2606, 2611, 2613, 2622, 2629, 2631, 2662, 2671, 2675, 2679, 2684, 2687, 2708, 2712, 2718, 2728, 2743, 2745, 2746, 2748, 2751, 2759, 2760, 2762, 2767, 2775, 2779, 2782, 2788, 2799, 2812, 2825, 2828, 2831, 2835, 2848, 2859, 2864, 2872, 2892, 2896, 2899, 2901, 2910, 2923, 2924, 2930, 2957, 2964, 2969, 2978, 2991, 2996, 3001, 3016, 3017, 3021, 3029, 3049, 3051, 3059, 3062, 3069, 3074, 3079, 3092, 3104, 3105, 3123, 3124, 3148, 3149, 3160, 3161, 3181, 3186, 3190, 3213, 3229, 3234, 3235, 3249, 3275, 3331, 3343, 3345, 3349, 3357, 3368, 3380, 3386, 3394, 3398, 3399, 3422, 3430, 3441, 3446, 3447, 3448, 3499, 3509, 3512, 3518, 3527, 3535, 3552, 3556, 3565, 3566, 3568, 3573, 3577, 3578, 3590, 3594, 3599, 3612, 3617, 3620, 3621, 3622, 3632, 3643, 3651, 3652, 3660, 3676, 3749, 3757, 3758, 3763, 3777, 3780, 3804, 3812, 3832, 3835, 3844, 3850, 3857, 3863, 3868, 3872, 3878, 3914, 3915, 3931, 3939, 3949, 3959, 3965, 3966, 3973, 3976, 3979, 4006, 4020, 4042, 4110, 4113, 4139, 4153, 4169, 4210, 4221, 4241, 4249, 4272, 4280, 4281, 4297, 4351, 4380, 4439, 4454, 4455, 4463, 4473, 4526, 4530, 4583, 4591, 4594, 4605, 4611, 4623, 4657, 4675, 4679, 4686, 4712, 4716, 4746, 4771, 4788, 4795, 4796, 4817, 4843, 4844, 4870, 5003, 5045, 5084, 5096, 5103, 5117, 5129, 5150, 5179, 5248, 5293, 5302, 5324, 5371, 5381, 5433, 5493, 5511, 5595, 5711, 5742, 5743, 5771, 5800, 5804, 5842, 5848, 5866, 5954, 5998, 6070, 6078, 6110, 6148, 6199, 6204, 6224, 6229, 6260, 6288, 6304, 6313, 6314, 6331, 6350, 6403, 6416, 6419, 6458, 6468, 6527, 6568, 6579, 6614, 6615, 6681, 6742, 6758, 6761, 6842, 6887, 6948, 6967, 6999, 7057, 7119, 7127, 7166, 7174, 7228, 7238, 7253, 7297, 7374, 7393, 7408, 7418, 7432, 7472, 7476, 7511, 7582, 7596, 7629, 7678, 7685, 7721, 7758, 7814, 7824, 7855, 7865, 7882, 7966, 7980, 8065, 8072, 8133, 8318, 8335, 8358, 8386, 8487, 8588, 8613, 8648, 8858, 8947, 9034, 9055, 9157, 9271, 9277, 9283, 9436, 9566, 9572, 9629, 9857, 9960, 10127, 10144, 10297, 10366, 10477, 10623, 10722, 10974, 11054, 11328, 11560, 11590, 11760, 11938, 11998, 12204, 12389, 12579, 12612, 12680, 12749, 12976, 13756, 14027, 14318, 14421, 14555, 14896, 15653, 15672, 15857, 15945, 18424]}, 'Present_employment_since': ['greater_than7', '4equalsless_than_and_less_than7', '1equalsless_than_and_less_than4', 'less_than1', 'unemployed'], 'Job': ['skilled_employee/official', 'unskilled-resident', 'management/self-employed/highly_qualified/officer', 'unemployed/unskilled-non_resident']}

In [7]:
write_domains(info_dict, scasp_path+"Domain_7.pl")

Domain facts written to ./s(CASP)_MC3G/Domain_7.pl

In [8]:
write_properties(Feature_Columns, scasp_path+"Property_7.pl")

Wrote all feature lines to ./s(CASP)_MC3G/Property_7.pl

## Now create a predicate that saves the original instance values

In [9]:
df_ref = pd.read_csv('./Data/test_fold_1.csv')
df_fact = df_ref.copy()[Feature_Columns]
df_fact

,Checking_account_status,Credit_history,Property,Duration_months,Credit_amount,Present_employment_since,Job
0,0equalsless_than_and_less_than200,existing_dues_cleared_for_now,real_estate,48,5951,1equalsless_than_and_less_than4,skilled_employee/official
1,0equalsless_than_and_less_than200,critical_account,car or other,30,5234,unemployed,management/self-employed/highly_qualified/officer
2,less_than0,existing_dues_cleared_for_now,building society/savings agreement/life insurance,48,4308,less_than1,skilled_employee/official
3,less_than0,existing_dues_cleared_for_now,real_estate,6,2647,1equalsless_than_and_less_than4,skilled_employee/official
4,less_than0,delay_in_paying_off,unknown/no_property,60,6836,greater_than7,skilled_employee/official
...,...,...,...,...,...,...,...
195,no_checking_account,all_dues_atbank_cleared,car or other,15,1569,greater_than7,unskilled-resident
196,less_than0,existing_dues_cleared_for_now,building society/savings agreement/life insurance,36,3959,unemployed,management/self-employed/highly_qualified/officer
197,no_checking_account,existing_dues_cleared_for_now,car or other,12,2390,greater_than7,skilled_employee/official
198,no_checking_account,existing_dues_cleared_for_now,real_estate,12,1736,4equalsless_than_and_less_than7,unskilled-resident
199,0equalsless_than_and_less_than200,critical_account,car or other,45,4576,unemployed,skilled_employee/official

In [10]:
ref_index=5
ref_index

5

In [11]:
df_fact.iloc[ref_index]

Checking_account_status                     greater_than200
Credit_history                existing_dues_cleared_for_now
Property                                       car or other
Duration_months                                          10
Credit_amount                                          1225
Present_employment_since    1equalsless_than_and_less_than4
Job                               skilled_employee/official
Name: 5, dtype: object

In [12]:
Feature_Columns

['Checking_account_status',
 'Credit_history',
 'Property',
 'Duration_months',
 'Credit_amount',
 'Present_employment_since',
 'Job']

In [13]:
write_original_sample_auto(df_fact, ref_index, scasp_path+"Original_sample.pl", Feature_Columns, 'original_sample')

Wrote predicate to ./s(CASP)_MC3G/Original_sample.pl

## Mutability

In [14]:
mutability_constraints = ['Z','Z','Z', 'Z','Z', 'Z','Z']

write_mutability_predicate(
    mutability_list=mutability_constraints,
    output_file=scasp_path+"Mutability.pl",
    predicate_name="mutability"
)

Wrote predicate to /Users/spam/Documents/UTD/PHD/ALPS/Spring_25/NeSY_Late_Deadline/Check_Datasets_german_2/s(CASP)_MC3G/Mutability.pl

## Weights

In [15]:
weight_constraints = [1,1,1,1,1,1,1]

write_weight_predicate(
    weight_list=weight_constraints,
    output_file=scasp_path+"Weight.pl",
    predicate_name="weight"
)

Wrote predicate to /Users/spam/Documents/UTD/PHD/ALPS/Spring_25/NeSY_Late_Deadline/Check_Datasets_german_2/s(CASP)_MC3G/Weight.pl