In [1]:
import pandas as pd

In [12]:
#src_file = 'C3G_adult_10_smallest_L1.csv'
#src_file = 'MC3G_adult_10_smallest_L1.csv'

#src_file = 'C3G_adult_10_smallest_L2.csv'
src_file = 'MC3G_adult_10_smallest_L1.csv'
src_path = 'Counterfactuals/'

In [13]:
df_src = pd.read_csv(src_path+src_file)
df_src

,Unnamed: 0,Marital_Status,Capital_gain,Education_num,Relationship,Sex,Hours_per_week,Native_country,Age,Workclass,Race,Fnlwgt,Occupation,L0,L1,L2
0,0,Married-civ-spouse,5060,9,Husband,Male,40,United-States,39,State-gov,White,77516,Adm-clerical,1,0.701392,0.701392
1,1,Married-civ-spouse,5178,9,Husband,Male,40,United-States,39,State-gov,White,77516,Adm-clerical,1,0.717748,0.717748
2,2,Married-civ-spouse,5455,9,Husband,Male,40,United-States,39,State-gov,White,77516,Adm-clerical,1,0.756145,0.756145
3,3,Married-civ-spouse,5556,9,Husband,Male,40,United-States,39,State-gov,White,77516,Adm-clerical,1,0.770145,0.770145
4,4,Married-civ-spouse,5721,9,Husband,Male,40,United-States,39,State-gov,White,77516,Adm-clerical,1,0.793016,0.793016
5,5,Married-civ-spouse,6097,9,Husband,Male,40,United-States,39,State-gov,White,77516,Adm-clerical,1,0.845135,0.845135
6,6,Married-civ-spouse,6360,9,Husband,Male,40,United-States,39,State-gov,White,77516,Adm-clerical,1,0.881591,0.881591
7,7,Married-civ-spouse,6418,9,Husband,Male,40,United-States,39,State-gov,White,77516,Adm-clerical,1,0.889631,0.889631
8,8,Married-civ-spouse,6497,9,Husband,Male,40,United-States,39,State-gov,White,77516,Adm-clerical,1,0.900581,0.900581
9,9,Married-civ-spouse,6514,9,Husband,Male,40,United-States,39,State-gov,White,77516,Adm-clerical,1,0.902938,0.902938

In [14]:
df_src['L1'].mean()

0.8158321126066033