In [7]:
import pandas as pd

def replace_symbols(df):
    """
    Replaces '<' with 'less_than' and '>' with 'greater_than' in all DataFrame values.
    
    Args:
    df (pd.DataFrame): Input DataFrame
    
    Returns:
    pd.DataFrame: Modified DataFrame with replaced values
    """
    return df.applymap(lambda x: str(x).replace('=', 'equals').replace('<', 'less_than').replace('>', 'greater_than').replace(' ', '_') if isinstance(x, str) else x)

In [8]:
train_path = './Original_Data/train_fold_1.csv'
#test_path = './Original_Data/test_fold_1.csv'
#test_path = './Data/test_fold_1.csv'

In [9]:
#df = pd.read_csv(train_path)
df = pd.read_csv(train_path)

df

,Checking_account_status,Duration_months,Credit_history,Purpose,Credit_amount,Savings_account_or_bonds,Present_employment_since,Installment_rate,Personal_status,Other_debtors,...,Property,Age_years,Other_installment_plans,Housing,Number_existing_credits,Job,Number_people_liable,Telephone,Foreign_worker,Label
0,<0,6,critical_account,radio/television,1169,unknown_or_no_savings_account,>7,4,male-single,none,...,real_estate,67,none,own,2,skilled_employee/official,1,yes,no,good
1,no_checking_account,12,critical_account,education,2096,<100,4=<_and_<7,2,male-single,none,...,real_estate,49,none,own,1,unskilled-resident,2,no,no,good
2,<0,42,existing_dues_cleared_for_now,furniture/equipment,7882,<100,4=<_and_<7,2,male-single,guarantor,...,building society/savings agreement/life insurance,45,none,for_free,1,skilled_employee/official,2,no,no,good
3,<0,24,delay_in_paying_off,car (new),4870,<100,1=<_and_<4,3,male-single,none,...,unknown/no_property,53,none,for_free,2,skilled_employee/official,2,no,no,bad
4,no_checking_account,36,existing_dues_cleared_for_now,education,9055,unknown_or_no_savings_account,1=<_and_<4,2,male-single,none,...,unknown/no_property,35,none,for_free,1,unskilled-resident,2,yes,no,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,no_checking_account,12,critical_account,education,3565,unknown_or_no_savings_account,<1,2,male-single,none,...,building society/savings agreement/life insurance,37,none,own,2,unskilled-resident,2,no,no,good
796,<0,18,existing_dues_cleared_for_now,radio/television,1936,unknown_or_no_savings_account,4=<_and_<7,2,male-married/widowed,none,...,car or other,23,none,rent,2,unskilled-resident,1,no,no,good
797,<0,30,existing_dues_cleared_for_now,car (used),3857,<100,1=<_and_<4,4,male-divorced/separated,none,...,building society/savings agreement/life insurance,40,none,own,1,management/self-employed/highly_qualified/officer,1,yes,no,good
798,no_checking_account,12,existing_dues_cleared_for_now,radio/television,804,<100,>7,4,male-single,none,...,car or other,38,none,own,1,skilled_employee/official,1,no,no,good
799,<0,45,existing_dues_cleared_for_now,radio/television,1845,<100,1=<_and_<4,4,male-single,none,...,unknown/no_property,23,none,for_free,1,skilled_employee/official,1,yes,no,bad

In [10]:
# Replace '<' and '>'
df_cleaned = replace_symbols(df)

# Display the modified DataFrame
df_cleaned

,Checking_account_status,Duration_months,Credit_history,Purpose,Credit_amount,Savings_account_or_bonds,Present_employment_since,Installment_rate,Personal_status,Other_debtors,...,Property,Age_years,Other_installment_plans,Housing,Number_existing_credits,Job,Number_people_liable,Telephone,Foreign_worker,Label
0,less_than0,6,critical_account,radio/television,1169,unknown_or_no_savings_account,greater_than7,4,male-single,none,...,real_estate,67,none,own,2,skilled_employee/official,1,yes,no,good
1,no_checking_account,12,critical_account,education,2096,less_than100,4equalsless_than_and_less_than7,2,male-single,none,...,real_estate,49,none,own,1,unskilled-resident,2,no,no,good
2,less_than0,42,existing_dues_cleared_for_now,furniture/equipment,7882,less_than100,4equalsless_than_and_less_than7,2,male-single,guarantor,...,building_society/savings_agreement/life_insurance,45,none,for_free,1,skilled_employee/official,2,no,no,good
3,less_than0,24,delay_in_paying_off,car_(new),4870,less_than100,1equalsless_than_and_less_than4,3,male-single,none,...,unknown/no_property,53,none,for_free,2,skilled_employee/official,2,no,no,bad
4,no_checking_account,36,existing_dues_cleared_for_now,education,9055,unknown_or_no_savings_account,1equalsless_than_and_less_than4,2,male-single,none,...,unknown/no_property,35,none,for_free,1,unskilled-resident,2,yes,no,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,no_checking_account,12,critical_account,education,3565,unknown_or_no_savings_account,less_than1,2,male-single,none,...,building_society/savings_agreement/life_insurance,37,none,own,2,unskilled-resident,2,no,no,good
796,less_than0,18,existing_dues_cleared_for_now,radio/television,1936,unknown_or_no_savings_account,4equalsless_than_and_less_than7,2,male-married/widowed,none,...,car_or_other,23,none,rent,2,unskilled-resident,1,no,no,good
797,less_than0,30,existing_dues_cleared_for_now,car_(used),3857,less_than100,1equalsless_than_and_less_than4,4,male-divorced/separated,none,...,building_society/savings_agreement/life_insurance,40,none,own,1,management/self-employed/highly_qualified/officer,1,yes,no,good
798,no_checking_account,12,existing_dues_cleared_for_now,radio/television,804,less_than100,greater_than7,4,male-single,none,...,car_or_other,38,none,own,1,skilled_employee/official,1,no,no,good
799,less_than0,45,existing_dues_cleared_for_now,radio/television,1845,less_than100,1equalsless_than_and_less_than4,4,male-single,none,...,unknown/no_property,23,none,for_free,1,skilled_employee/official,1,yes,no,bad

In [11]:
df_cleaned.to_csv('Data/train_fold_1.csv')

In [12]:
df_cleaned

,Checking_account_status,Duration_months,Credit_history,Purpose,Credit_amount,Savings_account_or_bonds,Present_employment_since,Installment_rate,Personal_status,Other_debtors,...,Property,Age_years,Other_installment_plans,Housing,Number_existing_credits,Job,Number_people_liable,Telephone,Foreign_worker,Label
0,less_than0,6,critical_account,radio/television,1169,unknown_or_no_savings_account,greater_than7,4,male-single,none,...,real_estate,67,none,own,2,skilled_employee/official,1,yes,no,good
1,no_checking_account,12,critical_account,education,2096,less_than100,4equalsless_than_and_less_than7,2,male-single,none,...,real_estate,49,none,own,1,unskilled-resident,2,no,no,good
2,less_than0,42,existing_dues_cleared_for_now,furniture/equipment,7882,less_than100,4equalsless_than_and_less_than7,2,male-single,guarantor,...,building_society/savings_agreement/life_insurance,45,none,for_free,1,skilled_employee/official,2,no,no,good
3,less_than0,24,delay_in_paying_off,car_(new),4870,less_than100,1equalsless_than_and_less_than4,3,male-single,none,...,unknown/no_property,53,none,for_free,2,skilled_employee/official,2,no,no,bad
4,no_checking_account,36,existing_dues_cleared_for_now,education,9055,unknown_or_no_savings_account,1equalsless_than_and_less_than4,2,male-single,none,...,unknown/no_property,35,none,for_free,1,unskilled-resident,2,yes,no,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,no_checking_account,12,critical_account,education,3565,unknown_or_no_savings_account,less_than1,2,male-single,none,...,building_society/savings_agreement/life_insurance,37,none,own,2,unskilled-resident,2,no,no,good
796,less_than0,18,existing_dues_cleared_for_now,radio/television,1936,unknown_or_no_savings_account,4equalsless_than_and_less_than7,2,male-married/widowed,none,...,car_or_other,23,none,rent,2,unskilled-resident,1,no,no,good
797,less_than0,30,existing_dues_cleared_for_now,car_(used),3857,less_than100,1equalsless_than_and_less_than4,4,male-divorced/separated,none,...,building_society/savings_agreement/life_insurance,40,none,own,1,management/self-employed/highly_qualified/officer,1,yes,no,good
798,no_checking_account,12,existing_dues_cleared_for_now,radio/television,804,less_than100,greater_than7,4,male-single,none,...,car_or_other,38,none,own,1,skilled_employee/official,1,no,no,good
799,less_than0,45,existing_dues_cleared_for_now,radio/television,1845,less_than100,1equalsless_than_and_less_than4,4,male-single,none,...,unknown/no_property,23,none,for_free,1,skilled_employee/official,1,yes,no,bad